<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)=" f.form.valid && sendFeedback()" novalidate class="feedback-form">
        <!-- Name -->
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name"
            [(ngModel)]="model.name" #name="ngModel" [ngClass]="{'is-invalid': f.submitted && name.invalid}" required />
          <!-- Group Validation -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- Individual validation errors -->
            <div *ngIf="name.errors?.required">Name is required</div>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address"
            [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid': f.submitted && email.invalid}" required
            email />

          <!-- Group Validation -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- Individual validation errors -->
            <div *ngIf="email.errors?.required">Email is required</div>
            <div *ngIf="email.errors?.email">Email is invalid</div>
          </div>
        </div>

        <!-- Feedback -->
        <div class="form-group">
          <label for="feedback">Feedback</label>
          <textarea name="feedback" class="form-control" id="feedback" cols="30" rows="10" id="feedback" name="feedback"
            placeholder="Enter your feedback" [(ngModel)]="model.feedback" #feedback="ngModel"
            [ngClass]="{'is-invalid': f.submitted && feedback.invalid}" required minlength="10"></textarea>

          <!-- Group Validation -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- Individual validation errors -->
            <div *ngIf="feedback.errors?.required">Feedback is required</div>
            <div *ngIf="feedback.errors?.minlength">Minimum length is 10 characters</div>
          </div>
        </div>

        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Send Feedback</span>
        </button>

      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>